<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
    <input type="text"  id="chat-message-input" size="100"><br>
    <input type="button" value="send" id="chat-message-submit">
    <script>
        var ws = new WebSocket("ws://127.0.0.1:8000/ws/ac/");
        ws.onopen = function () {
            console.log("Websocket connection open");
            ws.send('Hi, Message from client')            
        };
        ws.onmessage = function (event) {
            console.log("Message received from server ...", event.data);  
            console.log("Type of message received from server ...", typeof(event.data));  
            var data = JSON.parse(event.data)
            console.log("Parse data ...", data);
            console.log("Type of parse data ...", typeof(data));
            console.log("Actual message ...", data['msg']);
            document.querySelector('#chat-log').value += (data['msg'] +"\n")
        }

        ws.onerror = function (event) {
            console.log("Websoceket error occred...", event);            
        }
        ws.onclose = function (event) {
            console.log("Websoket connection closed ...",event );            
        }

        document.getElementById('chat-message-submit').onclick = function (event) {
            var messageInputDom = document.getElementById('chat-message-input')
            var message = messageInputDom.value
            ws.send(JSON.stringify({
                'msg': message
            })) 
            messageInputDom.value = ""
        }
    </script>
</body>
</html>